---
layout: base
pagination:
  data: collections.episodes
  size: 5
permalink: episodes/page-{{ pagination.pageNumber + 1 }}/index.html
---

{%- for episode in pagination.items %}
    <div class="container">
        <h2><a href="/{{ episode.data.episodeNumber }}">{{ episode.data.title }}</a></h2>
        <p class="date">{{ episode.data.published | dateForEpisode }} / {{ episode.data.duration }}</p>
        <p>{{ episode.data.summary }}</p>
        <audio controls preload="none">
            <source src="https://op3.dev/e,pg=375cd521-835a-5bd1-b747-1fed411c228b/https://cdn.rknight.me/podcasts/ruminate/episodes/{{ episode.data.file }}" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
    </div>
{% endfor %}

<div class="pagination">
    <div>{% if pagination.href.previous %}<a href="{{ pagination.href.previous }}">Newer Episodes</a>{% else %}Newer Episodes{% endif %}</div>
    <div>{% if pagination.href.next %}<a href="{{ pagination.href.next }}">Older Episodes</a>{% else %}Older Episodes{% endif %}</div>
</div>
