---
title: Ruminate Podcast
layout: base
---

{% set episodeList = collections.episodes | limit(5) %}

{%- for episode in episodeList %}
    <div class="container">
        <h2><a href="/{{ episode.data.episodeNumber }}">{{ episode.data.title }}</a></h2>
        <p class="date">{{ episode.data.published | dateForEpisode }} / {{ episode.data.duration }}</p>
        <audio controls>
            <source src="{{ episode.data.file }}" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
        {% if loop.index > 1 %}
            <p>{{ episode.data.summary }}</p>
        {% endif %}
        {% if loop.index === 1 %}
            {{ episode.templateContent | safe }}
        {% endif %}
    </div>
{% endfor %}


<div class="pagination">
    <div>Newer Episodes</div>
    <div><a href="/episodes/page-2">Older Episodes</a></div>
</div>
